.MainBody {
  margin: 0;
  overflow-x: hidden;
  background-image: url("/background.jpg");
  background-size: cover;
  background-color: #f0f0f0;
  background-attachment: fixed;
}

h2 {
  background-color: white;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  box-sizing: border-box;
}

.point {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.topbar {
  background: linear-gradient(180deg, #333333, #000000);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 5%;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  size: 4%;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  size: larger;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.menu_button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: grey;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
  box-sizing: border-box;
}

.menu_button:hover {
  background-color: rgb(50, 37, 37);
}

.intro {
  margin-top: 15%;
  padding: 20px;
  margin: 10px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s ease;
  box-sizing: content-box;
  min-height: 40vh;
}

.intro p {
  margin-top: 20px;
  line-height: 1.6;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.project-summary {
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s ease;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

.project-summary h3 {
  margin-bottom: 10px;
}

.project-summary p {
  margin-bottom: 10px;
}

.project-summary a {
  color: blue;
  text-decoration: underline;
}

.project-summary a:hover {
  text-decoration: none;
}

.toggle-details {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.toggle-details:hover {
  background-color: #0056b3;
}

.project-details {
  margin-top: 20px;
  text-align: left;
  flex: 1 1 100%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
  
  .project-summary {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
